services:
  jenkins-master:
    image: jenkins/jenkins:lts
    container_name: jenkins-master
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins-network

  jenkins-agent:
    build:
      context: ./agent
      dockerfile: Dockerfile
    container_name: jenkins-agent
    privileged: true
    user: root
    environment:
      - JENKINS_URL=${JENKINS_URL}
      - JENKINS_SECRET=${JENKINS_SECRET}
      - JENKINS_AGENT_NAME=${JENKINS_AGENT_NAME}
      - JENKINS_AGENT_WORKDIR=${JENKINS_AGENT_WORKDIR}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - agent_workspace:/home/jenkins/agent
    networks:
      - jenkins-network
    depends_on:
      - jenkins-master

volumes:
  jenkins_home:
  agent_workspace:

networks:
  jenkins-network:
    driver: bridge
